@media print
{
	.footer{
		display: none;
	}
	
	.print_field{
		font-size: 20px;
		font-weight: bold;
	}
	
	.print_value{
		
	}
	
	.print_address{
		float: right;
		margin-right: 100px;
	}
	
	.print_logo{
		float: left;
	}
	
	.print_id{
		width: 115px;
		float:left;
	}

	.print_id_value{
		margin-right: 10px;
		float:left;
	}
	
	.page_break{
		page-break-before: always;
	}

	.page_break_details{
		height: 1px;
	}
	
	.btn{
		display: none;
		margin-top: 0px;
	}
}

.btn{
	margin-top: 30px;
}

.print_logo{
	float: left;
}

.print_id{
	width: 115px;
	float: left;
}

.dataTables_length{
	display: none;
}

.dataTables_filter{
	display: none;
}

.empty_box{
	width: 100%;
	height: 100px;
}