@media print{
	.print_id{
		width: 115px;
		float:left;
	}

	.print_id_value{
		margin-right: 10px;
		float:left;
	}

	.footer{
		display: none;
	}

	.btn{
		display: none;
	}

	.print_address{
		float: right;
		margin-right: 100px;
	}

	.button_box{
		margin-bottom: 0px;
		margin-top: 0px;
		display: none;
	}

	.page_break_details{
		page-break-after: always;
	}
}

.print_logo{
	float: left;
}

.empty_box{
	width: 100%;
	height: 100px;
}

.button_box{
	margin-bottom: 100px;
}