@media print{
	.footer{
		display:none;
	}

	.page_break_details{
		page-break-after: always;	
	}

	.print_field{
		float: left;
	}

	.address_box{
		margin-left: 100px;
	}

	.button_box{
		display:none;
	}
}

.button_box{
	margin-bottom: 50px;		
}