@media screen and (min-width: 768px) 
{
	.logo-collapse.collapse
	{
		display: none !important;
		height: auto !important;
		overflow: visible !important;
	}
	
	.navbar-default
	{
		background-image: none;
		border-color: transparent;
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		margin: 0px;
	}
	
	.navbar-collapse
	{
		padding: 0px;
	}
	
	.content
	{
		border-left: 1px solid #eee;
	}
}

.logo
{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 25px;
	float: left;
	font-family: "Verdana", sans-serif;
}

.welcome
{
	margin-left: 20px;
	margin-top: 15px;
	font-size: 20px;
	float: left;
}

.sidebar 
{
	padding: 0px;
}

.content
{
	height: auto !important;
	margin-bottom: 0px;
	background-color: white;
}

.navbar-default
{
	margin: 0px;
}

.active
{
	background-color: #428bca;

}

a.active
{
	color: white;
}

.pointer
{
	cursor: pointer;
}

.personal-menu
{
	list-style: none;
}

li.personal-menu
{
	padding-left: 35px;
}

.personal-menu.collapse
{
	height: auto !important;
	overflow: visible !important;
}

.record-menu
{
	list-style: none;
}

li.record-menu
{
	padding-left: 35px;
}

.record-menu.collapse
{
	height: auto !important;
	overflow: visible !important;
}

.navbar.navbar-default li > a.active:hover 
{
    background-color: #428bca;
}