body
{
	background-color: #f5f5f5;
}

.header
{
	background-color: black;
}

h1.header
{
	margin-left: 10px;
	color: white;
	font-family: "Verdana", sans-serif;
}

p.header
{
	margin-top:10px;
	color: white;
	margin-bottom:0px;
}

a, a:hover
{
	text-decoration: none;
}

a.header
{
	font-size: 25px;
}

.wrapper 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
	padding-top: 69px;
	padding-bottom: 50px;
    margin: -69px auto -50px;
}

.footer
{
	width: 100%;
	background-color: black;
}

#footer
{
	color:white;
}

@media screen and (min-width: 768px) 
{
	.header-collapse.collapse
	{
		display: block !important;
		height: auto !important;
		overflow: visible !important;
	}
}